package ent

import (
	"[[.PolaPackage]]/core"
	"[[.PolaPackage]]/repository"
	entrepo "[[.PolaPackage]]/repository/ent"

	"[[.ModulePath]]/[[.EntClientDir]]"
	"[[.ModulePath]]/repositories"
[[- if eq .IDGoType "string"]]
	"github.com/google/uuid"
[[- end]]
)

// [[.LowerName]]Repository is the Ent-backed [[.Name]]Repository. The
// embedded generic implementation supplies Create/Get/List/Update/Delete by
// binding to the generated client's [[.Name]] sub-client and driving field
// writes through ent's Mutation interface; add custom queries as methods on
// this struct using r.client.
type [[.LowerName]]Repository struct {
	repository.Repository[ repositories.[[.Name]], [[.IDGoType]] ]
	client *ent.Client
}

// New[[.Name]]Repository creates a new Ent-backed [[.Name]]Repository,
// resolving its dependencies from the DI registry.
func New[[.Name]]Repository(r *core.Registry) repositories.[[.Name]]Repository {
	client := core.MustInvoke[*ent.Client](r)
	return &[[.LowerName]]Repository{
[[- if eq .IDGoType "string"]]
		Repository: entrepo.New[repositories.[[.Name]], string](client, repository.WithNewID(uuid.NewString)),
[[- else]]
		Repository: entrepo.New[repositories.[[.Name]], [[.IDGoType]]](client),
[[- end]]
		client: client,
	}
}
