<!DOCTYPE html>
{{- .HTMLOpen}}
<head>
  <meta charset="{{.Charset}}">
  <meta name="viewport" content="{{.Viewport}}">
  {{- .MetaBlock}}
  {{- .CustomHeadElements}}
  {{- if not .HasStylesheets}}
  {{- .StyleBlock}}
  {{- end}}
  {{- range .Stylesheets}}
  <link rel="stylesheet" href="{{.}}">
  {{- end}}
  {{- .ImportMap}}
</head>
{{- .BodyOpen}}
  {{- .BodyPrefix}}
  {{- .InnerHTML}}
  {{- range .Scripts}}
  <script{{if $.Nonce}} nonce="{{$.Nonce}}"{{end}}>{{.}}</script>
  {{- end}}
  <script type="module" src="{{.ClientScript}}"{{if .Nonce}} nonce="{{.Nonce}}"{{end}}></script>
  {{- .BodySuffix}}
</body>
</html>
