import {
  Card,
  CardContent,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import Create[[ .Name ]]Form from "@/components/[[ .PluralSnake ]]/create-form";

export default function Create[[ .Name ]]Page() {
  return (
    <Card>
      <CardHeader>
        <CardTitle>Create [[ .Name ]]</CardTitle>
      </CardHeader>
      <CardContent>
        <Create[[ .Name ]]Form />
      </CardContent>
    </Card>
  );
}
