import { [[ .ActionName ]] } from "@pola/actions";

import {
  Card,
  CardContent,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import Edit[[ .Name ]]Form from "@/components/[[ .PluralSnake ]]/edit-form";

export default async function Edit[[ .Name ]]Page({
  params,
}: {
  params: { id: string };
}) {
  const id = parseInt(params.id, 10);
  const item = await [[ .ActionName ]].get(id);

  return (
    <Card>
      <CardHeader>
        <CardTitle>Edit [[ .Name ]] #{params.id}</CardTitle>
      </CardHeader>
      <CardContent>
        <Edit[[ .Name ]]Form id={id} initialData={item} />
      </CardContent>
    </Card>
  );
}
