import { describe, it, expect } from "[[ .TestImport ]]";
import { render, screen } from "@testing-library/react";
import Create[[ .Name ]]Form from "./create-form";

describe("<Create[[ .Name ]]Form />", () => {
  it("renders the create form fields", () => {
    render(<Create[[ .Name ]]Form />);
[[- range .Fields ]]
    expect(screen.getByLabelText(/[[ .Label ]]/i)).toBeInTheDocument();
[[- end ]]
[[- range .FileFields ]]
    expect(screen.getByLabelText(/[[ .Label ]]/i)).toBeInTheDocument();
[[- end ]]
  });

  it("shows a submit button", () => {
    render(<Create[[ .Name ]]Form />);
    expect(screen.getByRole("button", { name: /create [[ .Name ]]/i })).toBeInTheDocument();
  });
});
