import { describe, it, expect } from "[[ .TestImport ]]";
import { render, screen } from "@testing-library/react";
import DeleteButton from "./delete-button";

describe("<DeleteButton />", () => {
  it("renders a Delete button", () => {
    render(<DeleteButton id={1} />);
    expect(screen.getByRole("button", { name: /delete/i })).toBeInTheDocument();
  });
});
