import { describe, it, expect } from "[[ .TestImport ]]";
import { render, screen } from "@testing-library/react";
import Edit[[ .Name ]]Form from "./edit-form";

const initial = {
  id: 1 as unknown as number,
[[- range .Fields ]]
  [[ .JSONName ]]: undefined as unknown as never,
[[- end ]]
} as Parameters<typeof Edit[[ .Name ]]Form>[0]["initial"];

describe("<Edit[[ .Name ]]Form />", () => {
  it("renders the edit form fields", () => {
    render(<Edit[[ .Name ]]Form initial={initial} />);
[[- range .Fields ]]
    expect(screen.getByLabelText(/[[ .Label ]]/i)).toBeInTheDocument();
[[- end ]]
  });
});
