/* Ant Design — CSS reset */
html, body, p, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, img, pre, form, fieldset {
  margin: 0;
  padding: 0;
}

img, fieldset {
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.88);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  line-height: 1.5714285714285714;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #1677ff;
  text-decoration: none;
}

a:hover {
  color: #4096ff;
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.88);
}

code, kbd {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
