{
  "name": "[[ .AppName ]]",
  "private": true,
[[- if .Scripts ]]
  "scripts": {
    [[- $first := true ]]
    [[- range $name, $cmd := .Scripts ]]
    [[- if $first ]][[ $first = false ]][[ else ]],[[ end ]]
    "[[ $name ]]": "[[ $cmd ]]"
    [[- end ]]
  },
[[- end ]]
  "dependencies": {
    "react": "[[ index .NpmVersions "react" ]]",
    "react-dom": "[[ index .NpmVersions "react-dom" ]]",
    "react-server-dom-esm": "[[ index .NpmVersions "react-server-dom-esm" ]]",
    "react-server-dom-webpack": "[[ index .NpmVersions "react-server-dom-webpack" ]]"
    [[- range $name, $ver := .ExtraDependencies ]],
    "[[ $name ]]": "[[ $ver ]]"
    [[- end ]]
  },
  "devDependencies": {
    "@types/react": "[[ index .NpmVersions "@types/react" ]]",
    "@types/react-dom": "[[ index .NpmVersions "@types/react-dom" ]]"
    [[- range $name, $ver := .ExtraDevDependencies ]],
    "[[ $name ]]": "[[ $ver ]]"
    [[- end ]]
    [[- if eq .CSS "tailwind" ]],
    "tailwindcss": "[[ index .NpmVersions "tailwindcss" ]]",
    "@tailwindcss/cli": "[[ index .NpmVersions "@tailwindcss/cli" ]]"
    [[- end ]]
    [[- if eq .CSS "sass" ]],
    "sass": "[[ index .NpmVersions "sass" ]]"
    [[- end ]]
  }
}
