import { Text, Heading, Section } from "@react-email/components";

interface [[.PascalName]]Props {
  // TODO: define props
}

export default function [[.PascalName]]({}: [[.PascalName]]Props) {
  return (
    <Section>
      <Heading>[[.HumanName]]</Heading>
      <Text>This is the [[.SnakeName]] email template.</Text>
    </Section>
  );
}
