"use client";

import ThemeProvider from "@/lib/theme-provider";
import Create[[ .Name ]]Form from "@/components/[[ .PluralSnake ]]/create-form";
import { Card, Title3 } from "@fluentui/react-components";

export default function Create[[ .Name ]]Page() {
  return (
    <ThemeProvider>
      <Card>
        <Title3 as="h2" style={{ marginBottom: 16 }}>Create [[ .Name ]]</Title3>
        <Create[[ .Name ]]Form />
      </Card>
    </ThemeProvider>
  );
}
