import { z } from "zod";

export const [[ .SnakeName ]]Schema = z.object({
[[- range .Fields ]]
  [[ .JSONName ]]: [[ .ZodType ]][[ if .Optional ]].optional()[[ end ]],
[[- end ]]
});

export type [[ .Name ]] = z.infer<typeof [[ .SnakeName ]]Schema>;
[[ if .HasFiles ]]
export const [[ .SnakeName ]]EditSchema = z.object({
[[- range .Fields ]]
  [[ .JSONName ]]: [[ .ZodType ]][[ if or .Optional .IsFile ]].optional()[[ end ]],
[[- end ]]
});

export type [[ .Name ]]Edit = z.infer<typeof [[ .SnakeName ]]EditSchema>;
[[ end -]]
