package [[ .Package ]]

import "github.com/polagonow/pola/core"

// Route handles [[ .RoutePath ]] requests.
type Route struct{}
[[ range .Methods ]]
// [[ . ]] [[ $.RoutePath ]]
func (r *Route) [[ . ]](c core.Context) error {
	// TODO: implement
	return c.JSON(200, core.M{"ok": true})
}
[[ end ]]
