import { Card } from "antd";
import Create[[ .Name ]]Form from "@/components/[[ .PluralSnake ]]/create-form";

export default function Create[[ .Name ]]Page() {
  return (
    <Card title="Create [[ .Name ]]">
      <Create[[ .Name ]]Form />
    </Card>
  );
}
