import Create[[ .Name ]]Form from "@/components/[[ .PluralSnake ]]/create-form";

export default function Create[[ .Name ]]Page() {
  return (
    <div>
      <h2 style={{ fontSize: "1.25rem", fontWeight: 600, marginBottom: 16 }}>Create [[ .Name ]]</h2>
      <Create[[ .Name ]]Form />
    </div>
  );
}
