package [[.PackageName]]
[[- if .Imports]]

import (
[[- range .Imports]]
	[[.]]
[[- end]]
)
[[- end]]

// [[.Name]] represents the [[.TableName]] database table.
type [[.Name]] struct {
[[- if .HasUUIDPK]]
	Id string `orm:"pk;size(36)" json:"id"`
[[- else]]
	Id int `orm:"auto;pk" json:"id"`
[[- end]]
[[- range .Fields]]
	[[.StructField]]
[[- end]]
}

// TableName sets the table name for [[.Name]].
func (t *[[.Name]]) TableName() string {
	return "[[.TableName]]"
}
