//go:build ignore

package main

import (
	"fmt"

	"github.com/tkrajina/typescriptify-golang-structs/typescriptify"

	actions "{{.PackagePath}}"
)

func main() {
	converter := typescriptify.New().
		WithInterface(true).
		WithIndent("  ")

	{{- range .StructNames}}
	converter.Add(actions.{{.}}{})
	{{- end}}

	result, err := converter.Convert(nil)
	if err != nil {
		fmt.Printf("ERROR: %v\n", err)
		return
	}
	fmt.Print(result)
}
