import Create[[ .Name ]]Form from "@/components/[[ .PluralSnake ]]/create-form";
import Card from "@mui/material/Card";
import CardContent from "@mui/material/CardContent";
import CardHeader from "@mui/material/CardHeader";

export default function Create[[ .Name ]]Page() {
  return (
    <Card variant="outlined">
      <CardHeader title="Create [[ .Name ]]" titleTypographyProps={{ variant: "h6", fontWeight: 600 }} />
      <CardContent>
        <Create[[ .Name ]]Form />
      </CardContent>
    </Card>
  );
}
